@use '../abstracts' as *;

.logo {
  display: inline-flex;
  gap: #{rem(10.213)};
  align-items: center;

  &__mark {
    width: #{rem(54.269)};
    height: #{rem(54.269)};
    object-fit: contain;
  }

  &__wordmark {
    font-family: var(--font-display);
    font-weight: 500;
    font-size: fluid(28, 39.28);
    letter-spacing: -0.9032px;
    line-height: 1;
    color: currentcolor;
  }

  &--sm &__mark {
    width: #{rem(40)};
    height: #{rem(40)};
  }
}
