@use '../abstracts' as *;

.section-heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  &--center {
    align-items: center;
    text-align: center;
  }

  &__eyebrow {
    @include text-eyebrow;

    letter-spacing: 0.02em;
  }

  &__title {
    color: var(--c-text-heading);

    @include text-heading(27, 50);

    .section-heading--lg & {
      @include text-heading(30, 60);
    }

    .section-heading--xl & {
      @include text-heading(32, 90);

      line-height: 1;
    }
  }

  &__lede {
    max-width: #{rem(801)};
    color: var(--c-text-body);

    @include text-body;
  }
}
